@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html, body {
    height: 100%;
}

.clear {
    clear: both;
}

.headerhome {
    background-color: #FCE05A;
    padding: 30px 40px;
    width: 100%;
    position: fixed;
}

.headerhome-logo {
    width: 200px;
    height: 50px;
    background-image: url('../images/zoalogo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    float: left;
}

.menuhome {
    float: right;
}

.menuhome ul {
    list-style-type: none;
    padding-top: 15px;
}

.menuhome-burger {
    display: none;
}

.menuhome-burger ul {
    display: none;
}

.menuhome li {
    display: inline-block;
    padding-right:40px;
}


.menuhome a {
    color: #5A4A42;
    text-decoration: none;
}

.menuhome a:focus {
    outline: none;
}

.mainhome {
    background-color: #FEE14E;
    padding-top: 120px;
}

.mainhome-banner {
    background-image: url('../images/labrador.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top right;
    height: 500px;
    margin: 0 auto;
}

.mainhome-content-left-wrap {
    max-width: 800px;
    margin: 80px auto;
}

.mainhome-content-left {
    padding: 1%;
    display: inline-block;
}

.mainhome-content-left h1 {
    max-width: 350px;
    font-weight: 600;
    color: #5A4A42;
    margin-bottom: 30px;
}

.mainhome-content-left p {
    color: #3C3C3C;
    margin-bottom: 5px;
}

.mainhome-content-left .appiphone {
    border: 1px solid #5A4A42;
    max-width: 100px;
    border-radius: 75px;
    display: inline-block;
    margin-left: 60px;
}

.mainhome-content-left .appiphone img {
    width: 100%;
    padding: 5px 15px;
}

.mainhome-content-left .appandroid {
    border: 1px solid #5A4A42;
    max-width: 100px;
    border-radius: 75px;
    display: inline-block;
    margin-left: 30px;
}

.mainhome-content-left .appandroid img {
    width: 100%;
    padding: 8px 15px;
}

.mainhome-banner .labrador {
    display: none;
}

@media screen and (max-width: 800px) {
    .mainhome-content-left .appiphone {
        margin-left: 20px;
    }

    .mainhome-content-left .appandroid {
        margin-left: 10px;
    }
}

@media screen and (max-width: 767px) {

    .headerhome {
        padding: 0;
    }

    .headerhome-logo {
        margin: 15px 0 15px 15px;
    }
    .mainhome-content-left .appiphone {
        display: block;
        margin: 10px 0 10px 15px;
    }

    .mainhome-content-left .appandroid {
        display: block;
        margin-left: 15px;
    }

    .mainhome-banner {
        background-image: none;
        overflow: hidden;
    }

    .mainhome-banner .labrador {
        display: block;
        margin: -400px 0 0 215px;
    }

    .headerhome .menuhome {
        display: none;
    }


    .menuhome-burger {
        display: block;
        width: 100%;
        height: 70px;
        margin-top: -65px;
        border: 5px solid transparent;
        background-image: url('../images/burgermenu-icon.png');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 40px;
        cursor: pointer;
        float: right;
    }

    .menuhome-burger:hover ul {
        display: block;
    }
    
    .menuhome-burger ul {
        list-style-type: none;
        padding-top: 0px;
        margin-top: 50px;
    }

    .menuhome-burger li:hover {
        background-color: #5A4A42;
    }

    .menuhome-burger li:hover a {
        color: white;
    }
    .menuhome-burger li {
        text-align: center;
        background-color: white;
    }
    .menuhome-burger a {
        color: #5A4A42;
        text-decoration: none;
        font-weight: 600;
        font-size: 15px;
        display: block;
        padding: 15px 0;
    }
    
    .menuhome-burger a {
        border-bottom: 1px solid #5a4a421a;
    }

    .menuhome-burger:hover {
        animation-name: IconeMuda;
        animation-duration: .5s;
        animation-fill-mode: forwards;
    }

    @keyframes IconeMuda {
        from {background-image: url('../images/burgermenu-icon.png');}
        to {background-image: url('../images/burgermenu-icon2.png');}
    }

    .mainhome-content-left-wrap {
        margin: 0px auto 80px auto;
    }
}

@media screen and (max-width: 570px) {
    .mainhome-banner .labrador {
        margin: -340px 0 0 148px;
        width: 300px;
    }
}