@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html, body {
    height: 100%;
}

.clear {
    clear: both;
}

.headerhome {
    background-color: #FCE05A;
    padding: 30px 40px;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.headerhome-logo {
    width: 200px;
    height: 50px;
    background-image: url('../images/zoalogo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    float: left;
}

.menuhome {
    float: right;
}

.menuhome ul {
    list-style-type: none;
    padding-top: 15px;
}

.menuhome-burger {
    display: none;
}

.menuhome-burger ul {
    display: none;
}

.menuhome li {
    display: inline-block;
    padding-right:40px;
}


.menuhome a {
    color: #5A4A42;
    text-decoration: none;
}

.menuhome a:focus {
    outline: none;
}

/*
    AQUI encerra o header
    AQUI inicia o main
*/

.mainhome {
    background-color: #FEE14E;
    padding-top: 120px;
}

.mainhome-banner {
    background-image: url('../images/labrador.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top right;
    height: 500px;
    margin: 0 auto;
}

.mainhome-content-left-wrap {
    max-width: 800px;
    margin: 80px auto;
}

.mainhome-content-left {
    padding: 1%;
    display: inline-block;
}

.mainhome-content-left h1 {
    max-width: 350px;
    font-weight: 600;
    color: #5A4A42;
    margin-bottom: 30px;
}

.mainhome-content-left p {
    color: #3C3C3C;
    margin-bottom: 5px;
}

.mainhome-content-left .appiphone {
    border: 1px solid #5A4A42;
    max-width: 100px;
    border-radius: 75px;
    display: inline-block;
    margin-left: 60px;
}

.mainhome-content-left .appiphone img {
    width: 100%;
    padding: 5px 15px;
}

.mainhome-content-left .appandroid {
    border: 1px solid #5A4A42;
    max-width: 100px;
    border-radius: 75px;
    display: inline-block;
    margin-left: 30px;
}

.mainhome-content-left .appandroid img {
    width: 100%;
    padding: 8px 15px;
}

.mainhome-banner .labrador {
    display: none;
}

/*
    AQUI encerra o main
    AQUI inicia a section "como funciona"
*/

.comofunciona-center {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    padding-top: 100px;
}

.comofunciona-center-left {
    width: 30%;
}

.comofunciona-center-left h1 {
    color: #5A4A42;
    font-size: 32px;
}

.comofunciona-center-right {
    width: 70%;
    display: flex;
}

.comofunciona-center-right-text {
    display: inline-block;
    max-width: 50%;
}

.comofunciona-center-right-text h1 {
    color: #FDE05B;
    font-size: 36px;
    margin-bottom: 10px;
    padding: 2%;
}

.comofunciona-center-right-text p {
    color: #7A7A7A;
    font-size: 14px;
    margin-bottom: 50px;
    padding: 2%;
}

.comofunciona-center-bottom {
    max-width: 1100px;
    margin: 30px auto 50px auto;
    text-align: center;
}

.comofunciona-center-bottom .appstores p {
    color: #7A7A7A;
    margin-bottom: 5px;
}

.comofunciona-center-bottom .appstores .appiphone {
    border: 1px solid #5A4A42;
    max-width: 150px;
    border-radius: 75px;
    display: inline-block;
    margin-left: 60px;
}

.comofunciona-center-bottom .appstores .appiphone img {
    width: 100%;
    padding: 5px 15px;
}

.comofunciona-center-bottom .appstores .appandroid {
    border: 1px solid #5A4A42;
    max-width: 150px;
    border-radius: 75px;
    display: inline-block;
    margin-left: 60px;
}

.comofunciona-center-bottom .appstores .appandroid img {
    width: 100%;
    padding: 8px 15px;
}

.comofunciona2-center {
    display: none;
}

/*
    AQUI encerra a section "como funciona"
    AQUI inicia a div "yellow wave up"
*/

.yellowwaveup {
    background-image: url('../images/wavesup.png');
    width: 100%;
    height: 140px;
    background-position: top center;
}

/*
    AQUI encerra a div "yellow wave up"
    AQUI inicia a section "diferenciais"
*/

.diferenciais {
    background-color: #FCE05A;
}

.diferenciais-center {
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px 2%;
}

.diferenciais-center h1 {
    text-align: center;
    color: #5A4A42;
    font-size: 32px;
    margin-bottom: 100px;
}

.diferenciais-center-item {
    margin: 20px;
    display: inline-block;
}

.diferenciais-center-item-wrap {
    display: flex;
    width: 100%;
    align-items: center;
}

.diferenciais-center-item-img {
    width: 40px;
    
    height: inherit;
    margin-right: 20px;
}

.diferenciais-center-item-img img {
    width: 100%;
}

.diferenciais-center-item-text {
    width: 200px;
    
}

.diferenciais-center-item-text p {
    color: #7A7A7A;
    font-size: 15px;
}

.diferenciais2-center {
    max-width: 700px;
    margin: 0 auto;
    padding: 40px 2%;
}
/*
    AQUI encerra a section "diferenciais"
    AQUI inicia a div "yellow wave down"
*/

.yellowwavedown {
    background-image: url('../images/wavesdown.png');
    width: 100%;
    height: 142px;
    background-position: top center;
}

/*
    AQUI encerra a div "yellow wave down"
    AQUI inicia a section "contrate"
*/

.contrate-overlay {
    background-image: url('../images/yellowball.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: -25% 80%;
}

.contrate-center {
    max-width: 1000px;
    display: flex;
    margin: 150px auto;
    padding: 10px;
    align-items: center;
}

.contrate-center-left-wrap {
    width: 50%;
    
}

.contrate-center-left {
    width: 100%;
    padding: 1%;
    display: inline-block;
}

.contrate-center-left h1 {
    font-size: 32px;
    max-width: 290px;
    font-weight: 600;
    color: #5A4A42;
    margin-bottom: 30px;
}

.contrate-center-left p {
    color: #3C3C3C;
    margin-bottom: 5px;
}

.contrate-center-left .appstores {
    margin-top: 100px;
}
.contrate-center-left .appiphone {
    border: 1px solid #5A4A42;
    max-width: 100px;
    border-radius: 75px;
    display: inline-block;
    margin-left: 30px;
}

.contrate-center-left .appiphone img {
    width: 100%;
    padding: 5px 15px;
}

.contrate-center-left .appandroid {
    border: 1px solid #5A4A42;
    max-width: 100px;
    border-radius: 75px;
    display: inline-block;
    margin-left: 30px;
}

.contrate-center-left .appandroid img {
    width: 100%;
    padding: 8px 15px;
}

.contrate-center-right-wrap {
    width: 43%;
    background-image: url('../images/cat.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 0;
    position: relative;
    z-index: 1;
    padding-bottom: 64%;
}

.contrate-center-right-wrap img {
    width: 150px;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 0;
}

@media screen and (max-width: 1269px) {
    .diferenciais-center {
        padding-bottom: 0px;
    }

    .diferenciais2-center {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 800px) {
    .mainhome-content-left .appiphone {
        margin-left: 20px;
    }

    .mainhome-content-left .appandroid {
        margin-left: 10px;
    }
}

@media screen and (max-width: 767px) {

    .headerhome {
        padding: 0;
    }

    .headerhome-logo {
        margin: 15px 0 15px 15px;
    }
    .mainhome-content-left .appiphone {
        display: block;
        margin: 10px 0 10px 15px;
    }

    .mainhome-content-left .appandroid {
        display: block;
        margin-left: 15px;
    }

    .mainhome-banner {
        background-image: none;
        overflow: hidden;
    }

    .mainhome-banner .labrador {
        display: block;
        margin: -400px 0 0 215px;
    }

    .headerhome .menuhome {
        display: none;
    }


    .menuhome-burger {
        display: block;
        width: 100%;
        height: 70px;
        margin-top: -65px;
        border: 5px solid transparent;
        background-image: url('../images/burgermenu-icon.png');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 40px;
        cursor: pointer;
        float: right;
    }

    .menuhome-burger:hover ul {
        display: block;
    }
    
    .menuhome-burger ul {
        list-style-type: none;
        padding-top: 0px;
        margin-top: 50px;
    }

    .menuhome-burger li:hover {
        background-color: #5A4A42;
    }

    .menuhome-burger li:hover a {
        color: white;
    }
    .menuhome-burger li {
        text-align: center;
        background-color: white;
    }
    .menuhome-burger a {
        color: #5A4A42;
        text-decoration: none;
        font-weight: 600;
        font-size: 15px;
        display: block;
        padding: 15px 0;
    }
    
    .menuhome-burger a {
        border-bottom: 1px solid #5a4a421a;
    }

    .menuhome-burger:hover {
        animation-name: IconeMuda;
        animation-duration: .5s;
        animation-fill-mode: forwards;
    }

    @keyframes IconeMuda {
        from {background-image: url('../images/burgermenu-icon.png');}
        to {background-image: url('../images/burgermenu-icon2.png');}
    }

    .mainhome-content-left-wrap {
        margin: 0px auto 80px auto;
    }

    .comofunciona-center {
        display: block;
        padding: 50px 3% 20px 3%;
    }

    .comofunciona-center-right {
        width: 100%;
        display: flex;
        margin: 40px auto 0 auto;
    }

    .comofunciona-center-bottom {
        margin: 0px auto 50px auto;
    }

    .comofunciona-center-bottom .appstores p {
        display: block !important;
    }
    
    .comofunciona-center-bottom .appstores .appiphone {
        display: inline-block;
        margin: 10px 2%;    
    }

    .comofunciona-center-bottom .appstores .appandroid {
        display: inline-block;
        margin: 10px auto;
    }

    .diferenciais-center {
        padding-top: 0px;
    }

    .contrate-center {
        display: block;
        margin-top: 20px;
    }

    .contrate-center-left-wrap {
        width: 100%;
    }

    .contrate-center-left h1:nth-child(1) {
        max-width: 1000px;
        text-align: center;
        margin-top: 30px !important;
    }

    .contrate-center-left h1:nth-of-type(2) {
        font-size: 40px;
    }

    .contrate-center-left .appstores {
        margin: 20px auto;
    }

    .contrate-center-left .appstores {
        width: unset;
    }

    .contrate-center-left .appstores .appiphone {
        margin: 10px 10px;
    }

    .contrate-center-left .appstores .appandroid {
        margin: 10px 10px;
    }

    .contrate-center-left .appstores {
        text-align: center;
    }

    .contrate-center-left .appstores p {
        display: block !important;
        text-align: center;
    }

    .contrate-center-right-wrap {
        width: 65%;
        margin: 0 auto;
        background-size: contain;
        padding-bottom: 95%;
    }

    .contrate-center-right-wrap img {
        width: 90px;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        z-index: 0;
    }
}

@media screen and (max-width: 570px) {
    .mainhome-banner .labrador {
        margin: -340px 0 0 148px;
        width: 300px;
    }
}

@media screen and (max-width: 499px) {

    .comofunciona-center {
        display: none;
    }

    .comofunciona2-center {
        display: block;
        padding: 50px 3% 20px 3%;
        max-width: 1100px;
        margin: 0 auto;
        display: block;
    }

    .comofunciona2-center-left {
        width: 30%;
    }

    .comofunciona2-center-left h1 {
        color: #5A4A42;
        font-size: 32px;
    }

    .comofunciona2-center-right {
        width: 100%;
        display: block;
        margin: 40px auto 0 auto;
    }

    .comofunciona2-center-right-text {
        display: block;
        max-width: 100%;
    }
    
    .comofunciona2-center-right-text h1 {
        color: #FDE05B;
        font-size: 36px;
        margin-bottom: 10px;
        padding: 2%;
    }

    .comofunciona2-center-right-text p {
        color: #7A7A7A;
        font-size: 14px;
        margin-bottom: 10px;
        padding: 2%;
    }
    
    .mainhome-banner .labrador {
        margin: -363px 0px 0 89px;
        width: 400px;
    }

    .mainhome-content-left .appstores .appiphone {
        background-color: #FEE14E;
        position: relative;
        z-index: 1;
    }

    .mainhome-content-left .appstores .appandroid {
        background-color: #FEE14E;
        position: relative;
        z-index: 1;
    }

    .headerhome {
        z-index: 2;
    }
}

@media screen and (max-width: 342px) {
    .mainhome-content-left h1 {
        max-width: 278px;
        
    }
}